
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

*{
  font-family: "Poppins", sans-serif;
}

html, body { 
  height: 100%; 

  
  i{
    font-size: 20px;
    cursor: pointer;
  }
}
:root {
    --primary-yellow: rgb(255, 169, 39);
    --secondary-yellow: rgb(255, 201, 107);
}


::-webkit-scrollbar {
    display: none;
}
