main{
    display: flex;
    gap: 1rem;

    .topbar{
        z-index: 10;
    }

    section{
        width: 80vw;
        padding: 0px 20px;

        full-calendar{
            height: 80vh;
        }

    }
    
}

.spinner-border{
    margin: auto;
    width: 50px;
    height: 50px;
  }


::ng-deep .fc-col-header-cell-cushion{
    color: black;
    text-decoration: none;
}

::ng-deep .fc-button-primary{
    background-color: var(--primary-yellow);
}
::ng-deep .fc-toolbar-title{
    font-size: 15px;
}
::ng-deep .fc-daygrid-day-number{
    color: black;
    text-decoration: none;
}
::ng-deep .fc-event-title-container{
    background-color: var(--primary-yellow);
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    text-wrap: wrap;
}
::ng-deep .fc-event, .fc-event-start, .fc-event-end, .fc-daygrid-event, .fc-daygrid-block-event, .fc-h-event{
    background-color: var(--primary-yellow);
    cursor: pointer;
}

h4{
    font-family: "Poppins", sans-serif;
    margin-top: 1rem;
}

.topbar{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    position: sticky;
    top: 0px;
}

.searchbar{
    background-color: whitesmoke;
    width: 75%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 3rem;

    input{
        background-color: transparent;
        outline: none;
        border: none;
        width: 100%;
        
    }
}

.cards{
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px){

    main{
        flex-direction: column;
    }
    .cards{
        width: 100vw;
    }
}
