main{
    width: 80%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    // gap: 10px;

    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form{
        display: flex;
        justify-content: center;
        align-items: center;
        
        .right{
            border-radius: 10px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            padding: 4rem 1.5rem;
            width: 100%;
        }

        h3{
            text-align: center;
        }
    }
}

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;

    span {
        color: var(--primary-yellow);
    }
}

button{
    background-color: var(--primary-yellow);
    color: white;
    width: fit-content;
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
}
p{
    margin-top: 2rem;
    text-align: center;

    span{
        color: var(--primary-yellow);
        cursor: pointer;
        text-decoration: underline;
    }
}

@media (max-width:600px){
    main{
        width: 80%;
        height: 100vh;
        display: flex;
        flex-direction: column ;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        // gap: 10px;
    
        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .form{
            display: flex;
            justify-content: center;
            align-items: center;
            
            .right{
                border-radius: 10px;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                padding: 4rem 1.5rem;
                width: 100%;
            }
    
            h3{
                text-align: center;
            }
        }
    }
    
    h1{
        font-family: 'Poppins', sans-serif;
        font-size: 3rem;
    
        span {
            color: var(--primary-yellow);
        }
    }
    
    button{
        background-color: var(--primary-yellow);
        color: white;
        width: fit-content;
        padding: 8px 20px;
        border-radius: 10px;
        border: none;
        outline: none;
    }
    p{
        margin-top: 2rem;
        text-align: center;
    
        span{
            color: var(--primary-yellow);
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

