<main>
    <app-sidebar></app-sidebar>

    <section class="content">
        <div class="topbar">
           <h4>Notifications</h4>
        </div>

        <!-- <div *ngIf="loading" class="d-flex flex-column gap-4 mt-5">
            <app-loader></app-loader>
            <app-loader></app-loader>
            <app-loader></app-loader>
        </div>
        <div *ngIf="!loading && notifiedEvents.length === 0">
            <p class="mt-5">No notifictaions yet.</p>
        </div>
        <div *ngIf="!loading && notifiedEvents.length >= 0" class="cards gap-4">
            <div *ngFor="let event of notifiedEvents">
                <app-card [event]="event"></app-card>
            </div>
        </div> -->

        <div *ngFor="let notification of notifications">
            {{ notification }}
        </div>
    </section>
</main>
