main{
    display: flex;
    gap: 1rem;
}

form{
    width: 70%;
    margin: auto;

    h3{
        font-family: 'Poppins', sans-serif;
    }
}

button{
    background-color: var(--primary-yellow);
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    &:hover{
        background-color: var(--primary-yellow);
    }
}