<main>
    <app-sidebar></app-sidebar>

    <section class="content">
        <div class="topbar">
            <form class="searchbar" [formGroup]="searchForm">
                <i class="fa-solid fa-magnifying-glass" style="font-size: 20px;"></i>
                <input type="search" placeholder="Search" formControlName="searchTerm">
            </form>
            <i class="fa-solid fa-bell position-relative" routerLink="/notifications">
                <span *ngIf="notifiedEvents.length > 0"
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill" id="number">
                    {{notifiedEvents.length}}
                </span>
            </i>
        </div>

        <!-- <div class="filters">
            <div class="filter">
                <label for="location-filter">Location</label>
                <select id="location-filter" [(ngModel)]="locationFilter" (ngModelChange)="filterEvents()">
                <option value="all">All</option>
                <option value="Hyderabad">Hyderabad</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Pune">Pune</option>
                </select>
            </div>

            <div class="filter">
                <label for="range">Price</label>
                <div class="r">
                    <span class="price-value">{{ priceFilter.min }}</span>
                    <input id ="range" type="range" [(ngModel)]="priceFilter.value" (ngModelChange)="filterEvents()">
                    <span class="price-value">{{ priceFilter.max }}</span>
                </div>
            </div>

            <div class="filter">
                <label for="date">Date</label>
                <input id="date" type="date" [(ngModel)]="dateFilter" (ngModelChange)="filterEvents()">
            </div>
        </div> -->

        <div *ngIf="loading" class="d-flex flex-column gap-4 mt-5">
            <app-loader></app-loader>
            <app-loader></app-loader>
            <app-loader></app-loader>
        </div>
        <div *ngIf="!loading" class="cards gap-4">
            <div *ngFor="let event of filteredEvents">
                <app-card [event]="event"></app-card>
            </div>
        </div>
    </section>

    <app-widgets></app-widgets>

    <app-mobile-navbar></app-mobile-navbar>
</main>