main{
    display: flex;
    gap: 1rem;

    .spinner-border{
      margin: auto;
      width: 50px;
      height: 50px;
    }
}

h2{
  font-weight: bold;
}

section {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
  
  .event-image {
    img {
      width: 550px;
      height: 350px;
      border-radius: 20px;
    }
  }
  
  .event-info-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    font-size: 13px;

    h5 {
      margin-bottom: 20px;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
    }
  }
  
  .organizer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
    
    p {
      margin: 3px 0;
    }
  }
  
  .event-date-location {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    p {
      margin: 3px 0;
    }
  }

  .event-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    p {
      font-size: 17px;
      line-height: 1.5;
    }
  }
  
  .event-book {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;

    .price{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 3px;
    }

    span{
        color: var(--primary-yellow);
        font-weight: bold;
        font-size: 20px;
    }
    button {
      background-color: var(--primary-yellow);
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      &:hover {
        background-color: var(--secondary-yellow)
      }
      &:disabled{
        background-color: var(--secondary-yellow);
      }
    }
  }
  
}

h3{
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

.comments{
  background-color: whitesmoke;
  margin-top: 3rem;
  width: 100%;
  text-align: left;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;

  h5{
    font-family: 'Poppins', sans-serif;
  }

  .reviews{
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 10px;
    
    p{
      background-color: white;
      border-radius: 10px;
      padding: 10px;
      width: fit-content;
    }
  }
}