<main>
    <app-sidebar></app-sidebar>

    <div *ngIf="loading" class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>

    <section *ngIf="!loading" class="event-details-container">
        <div class="event-image">
          <img src="{{event.image}}" alt="Event Image">
        </div>

        <div class="event-info-container">
          <div class="organizer-info">
            <h5>Organizer Details</h5>
            <p>Name: {{event.creator.name}}</p>
            <p>Email: {{event.creator.email}}</p>
            <p>Phone: {{event.creator.phone}}</p>
          </div>


          <div class="event-date-location">
            <h5>Venue Details</h5>
            <p>Date: {{event.dateOfEvent}}</p>
            <p>Time: {{event.time}}</p>
            <p>Location: {{event.location}}</p>
          </div>
        </div>

        <div class="event-body">
            <div class="event-book">
                <p>{{event.attendees.length}} people going</p>
                <div class="price">
                    <span>₹{{event.price}}</span>
                    <button *ngIf="user.role === 'Customer'" id="book-btn" [disabled]="event.attendees.includes(user.id)" (click)="bookEvent()">
                      {{ event.attendees.includes(user.id) ? 'Booked' : 'Book Now' }}
                  </button>
                </div>
            </div>

            <div class="event-details">
                <h2>{{event.eventName}}</h2>
                <p>{{event.description}}</p>
            </div>
        </div>

        <div *ngIf="event.feedbacks.length > 0" class="comments">
          <h5>Reviews</h5>
          <hr>

          <div *ngFor="let feedback of event.feedbacks" class="reviews">
            <p>{{feedback.review}}</p>
          </div>
        </div>
      </section>

    <app-widgets></app-widgets>
</main>