<div class="event-card" [routerLink]="'/details/' + event.id">
  <div class="image">
    <img src="{{event.image}}" alt="Card Image">
  </div>

  <div class="content">
    <small>{{event.dateOfEvent}}</small>
    <h4 class="title">{{event.eventName}}</h4>
    <p class="description">{{event.description.substring(0, 100)}}..</p>
  </div>

  <div class="options">
      <div class="icons">
          <i class="fa fa-bookmark-o" style="font-size:20px"></i>
      </div>

      <div class="price">
          <small>Starts at</small>
          <p>${{event.price}}</p>
      </div>
  </div>

  <div *ngIf="userEvents">
    <div class="btns">
      <a style="color: black; border-radius: 50%;" data-bs-toggle="collapse" [attr.href]="'#collapseExample-' + event.id" role="button" [attr.aria-controls]="'collapseExample-' + event.id" aria-expanded="false" (click)="showAttendees(event.id); $event.stopPropagation();">
        <i class="fa fa-eye"></i>
      </a>
      <i class="far fa-edit" (click)="handleEdit(event.id); $event.stopPropagation();" [routerLink]="'/edit/' + event.id"></i>
      <i class="far fa-trash-alt" (click)="handleDelete(event.id); $event.stopPropagation();"></i>
    </div>

    <!-- <div [attr.id]="'collapseExample-' + event.id" class="collapse">
      <div class="card card-body">
        <h5>Attendees</h5>
          <ul *ngFor="let attendee of event.attendees">
              <li style="font-size: 10px;">{{ attendee }}</li>
          </ul>
      </div>
    </div> -->
  </div>
</div>
