<div class="event-card" [routerLink]="'/details/' + event.id">
  <div class="image">
    <img src="{{event.image}}" alt="Card Image">
  </div>

  <div class="content">
    <small>{{event.dateOfEvent}}</small>
    <h4 class="title">{{event.eventName}}</h4>
    <p class="description">{{event.description.substring(0, 100)}}..</p>
  </div>

  <div class="options">
      <div class="icons">
        <i *ngIf="event.category === 'music'" class="fa-solid fa-music"></i>
        <i *ngIf="event.category === 'sports'" class="fa-solid fa-dice"></i>
        <i *ngIf="event.category === 'education'" class="fa-solid fa-graduation-cap"></i>
        <i *ngIf="event.category === 'dance'" class="fa-solid fa-hand-peace"></i>
        <i *ngIf="event.category === 'food'" class="fa-solid fa-pizza-slice"></i>
        <i *ngIf="event.category === 'comedy'" class="fa-solid fa-face-grin-squint-tears"></i>
      </div>

      <div class="price">
          <small>Starts at</small>
          <p>₹{{event.price}}</p>
      </div>
  </div>

  <div *ngIf="(user.role === 'Admin' || user.role === 'Organizer') && userEvents">
    <div class="btns">
      <a style="color: black; border-radius: 50%;" (click)="showAttendees(event.id); $event.stopPropagation();">
        <i class="fa-solid fa-eye"></i>
      </a>
      <i class="fa-solid fa-pen-to-square" (click)="$event.stopPropagation();" [routerLink]="'/edit/' + event.id"></i>
      <i class="fa-solid fa-trash-can" (click)="handleDelete(event.id); $event.stopPropagation();"></i>
    </div>
  </div>

  <div *ngIf="user.role === 'Customer' && userEvents" class="feedback-btn">
    <i (click)="openFeedbackForm(event.id); $event.stopPropagation();" class="fa-solid fa-comment-dots"></i>
  </div>
</div>
