<main>
  <h4>Attendees</h4>
  <br>

  <div *ngIf="loading" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <table class="table" *ngIf="!loading">
    <thead>
      <tr>
        <th scope="col">Sno</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of attendees; let i = index">
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <div class="earnings" *ngIf="!loading">
    <p>Sales</p>
    <span>₹{{earnings}}</span>
  </div>
</main>