main{
    display: flex;
    gap: 1rem;
}

section{
    width: 60vw;
    padding: 0px 30px;
}

h4{
    font-family: "Poppins", sans-serif;
    margin-top: 1rem;
}

.topbar{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    position: sticky;
    top: 0px;
}

.searchbar{
    background-color: whitesmoke;
    width: 75%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 3rem;

    input{
        background-color: transparent;
        outline: none;
        border: none;
        width: 100%;
        
    }
}

.cards{
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
