<main>
    <app-sidebar></app-sidebar>

      <table id="customers">

        <h4 class="mb-5">User Details</h4>
        <tr>
          <th>Sno</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Role</th>
          <th>Option</th>
        </tr>
        <tbody *ngFor="let user of users; let i = index">
          <tr>
            <td>{{i+1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.role}}</td>
            <td>
            <button *ngIf="user.role !== 'Admin'" (click)="deleteUser(user.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

      <app-mobile-navbar></app-mobile-navbar>
      
</main>
