<section class="sidebar">

    <h2 routerLink="/">event<span>bee</span></h2>

    <div class="links">
        <div routerLink="/">
            <i class="fa-solid fa-house"></i>
            Home
        </div>
        <div *ngIf="user.role === 'Organizer' || user.role === 'Admin'" [routerLink]="['/events', user.id]">
            <i class="fa-regular fa-calendar-check"></i>
            Your Events
        </div>
        <div *ngIf="user.role === 'Customer'" [routerLink]="['/booked', user.id]">
            <i class="fa-solid fa-ticket"></i>
            Tickets
        </div>
    </div>
    <button *ngIf="user.role === 'Organizer' || user.role === 'Admin'" class="create-btn" routerLink="/create">
        Create Event
    </button>

    <div *ngIf="user.role === 'Admin'" class="user">
        <button routerLink="/users">View Users</button>
    </div>

    <div class="logout-btn">
        <p>{{user.role}}</p>
        <button (click)="handleLogout()">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span>Logout</span>
        </button>
    </div>

</section>