.sidebar{
    display: flex;
    flex-direction: column;
    width: 18vw;
    height: 100vh;
    border-right: 2px solid rgb(244, 244, 244);
    padding: 10px 30px;
    position: sticky;
    top: 0;

    h2{
        cursor: pointer;
        margin-bottom: 3rem;
        font-family: 'Poppins', sans-serif;

        span {
            color: var(--primary-yellow);
        }
    }

    .links{
        display: flex;
        flex-direction: column;
        gap: 5px;

        div{
            padding: 10px 20px;
            border-radius: 20px;
            font-weight: 500;
            cursor: pointer;
            display: flex;
            gap: 10px;
            font-size: 1rem;

            i{
                font-size: 20px;
            }
        }:hover{
            background-color: whitesmoke;
        }
        
    }
    button{
        margin-top: 1rem;
        background-color: var(--primary-yellow);
        color: white;
        text-align: center;
        padding: 10px;
        border-radius: 20px;
        outline: none;
        border: none;
    }

    .logout-btn{
        margin-top: auto;

        button{
            background-color: transparent;
            color: black;
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100%;
        }:hover{
            background-color: whitesmoke;
        }
    }

}

.user{
    button{
        background-color: whitesmoke;
        color: black;
        width: 100%;
    }
    button:hover{
        background-color: var(--primary-yellow);
        color: white;
    }
}